 *{ 
   box-sizing: border-box;
   overflow: hidden;
  }
 
 .header{
  display: flex;
  justify-content: space-between;
   position: fixed;
   top: 0;
   z-index: 1;
   background-color: #3f51b5;
  }

  .header_logo{
    float: left;
    position: static;
    max-width: 100px;
    max-height: 100px;
    
 } 

 .header_menu{
   margin-left: 300px;
 }

  /* .header_ > a{
    margin:0;
    padding: 0;
    color: #fff;
  } */