.header{
  position: fixed;  
  top: 0;
  z-index: 1;
  display: flex;
  justify-content:flex-end;
  background-color: #3f51b5;
  }
   .logo{
    margin-right: 590px;
    margin-top: 2px;
  }

  a{
    margin-left: 12px;
    text-decoration: none;
    color: white;
  }

  img{
    width: 193px;
    height: 71px;
  }
