  <mat-toolbar class="header mat-elevation-z4 header"> 
  
      <span class="logo"><img src="./assets/logo.jpg" alt="logo"></span>
      <span class="links">
     
      <a routerLink=""> 
        <i> 
          <mat-icon class="icon">home</mat-icon> 
        </i>
          Inicio
        </a>
         <a routerLink="produtos">
           <i>
             <mat-icon class="icon">storemarket</mat-icon>
          </i> 
          Produtos

        </a>
                
         <a>
           <i>
             <mat-icon class="icon">contact_page</mat-icon>
          </i> 
           Contatos
          </a>
        
        </span>
      
    </mat-toolbar>