
<div class="menu">

  <span class="menu_links">
        <ul>
            <li routerLink="/">
                <i> 
                    <mat-icon class="icon">home</mat-icon> 
                    <button mat-raised-button>Inicio</button>   
                </i>
            </li>

            <li>
                <i> 
                    <mat-icon class="icon">storemarket</mat-icon>
                    <button routerLink="/produtos" mat-raised-button>Produtos</button>
                    
                   
                 </i> 
            </li>

            <li>
                <i>
                    <mat-icon class="icon">contact_page</mat-icon>
                    <button mat-raised-button>Contatos</button>
                 </i> 
            </li>
             
            <li>
                <i>
                    <mat-icon class="icon">contact_page</mat-icon>
                    <button mat-raised-button>Orçamentos</button>
                 </i> 
                
            </li>
        </ul>
        </span> 
</div> 