<h1>produtos</h1>
<div class="body">
    <div class="grid-container">
        <div class="grid-item">
   
         <mat-card class="example-card">
   
    <img mat-card-image src="./assets/portoes/portao.jpg" alt="portao">
   
    <mat-card-actions>

      <button routeLink="produtoDetalhe" mat-button>Portões de garagem e sociais</button>
    </mat-card-actions>
  </mat-card>
  
</div>


<div class="grid-item">
   
  <mat-card class="example-card">
   
    <img mat-card-image src="./assets/cercas/cercas-gradil.jpg" alt="cerca-gradil">
   
    <mat-card-actions>
      
      <button mat-button>Cercas</button>
    </mat-card-actions>
  </mat-card>
  
</div>

<div class="grid-item">
   
  <mat-card class="example-card">
   
    <img mat-card-image src="./assets/calhas/calhas.jpeg" alt="calhas">
   
    <mat-card-actions>
      <button mat-button>Calhas</button>
    </mat-card-actions>
  </mat-card>
  
</div>

<div class="grid-item">
   
    <mat-card class="example-card">
   
    <img mat-card-image src="./assets/janelas/grades-de-protecao-para-gatos-valor.jpg" alt="janela">
   
    <mat-card-actions>
    <button mat-button> Grades para janelas </button>
    </mat-card-actions>
  </mat-card>
  
</div>

<div class="grid-item">
   
  <mat-card class="example-card">
   
    <img mat-card-image src="../assets/solda/solda.jpeg" alt="solada">
   
    <mat-card-actions>
     <button mat-button>Solda em geral</button>
    </mat-card-actions>
  </mat-card>
  
</div>

<div class="grid-item">
   
  <mat-card class="example-card">
   
    <img mat-card-image src="./assets/portoes/portao6.jpeg" alt="portao">
   
    <mat-card-actions>
      <button mat-button>Portões de garagem e sociais</button>
    </mat-card-actions>
  </mat-card>
  
</div>

<div class="grid-item">
   
  <mat-card class="example-card">

<img mat-card-image src="./assets/portoes/portao.jpg" alt="portao">

<mat-card-actions>
  <p>Portões de garagem e sociais</p>
</mat-card-actions>
</mat-card>

</div>
<div class="grid-item">
   
  <mat-card class="example-card">

<img mat-card-image src="./assets/portoes/portao.jpg" alt="portao">

<mat-card-actions>
  <p>Portões de garagem e sociais</p>
</mat-card-actions>
</mat-card>

</div>
<div class="grid-item">
   
  <mat-card class="example-card">

<img mat-card-image src="./assets/portoes/portao.jpg" alt="portao">

<mat-card-actions>
  <p>Portões de garagem e sociais</p>
</mat-card-actions>
</mat-card>

</div>
<div class="grid-item">
   
  <mat-card class="example-card">

<img mat-card-image src="./assets/portoes/portao.jpg" alt="portao">

<mat-card-actions>
  <p>Portões de garagem e sociais</p>
</mat-card-actions>
</mat-card>

</div>
      <div class="grid-item">
        
        <mat-card class="example-card">

      <img mat-card-image src="./assets/portoes/portao.jpg" alt="portao">

      <mat-card-actions>
        <p>Portões de garagem e sociais</p>
      </mat-card-actions>
      </mat-card>

      </div>
   </div> 
</div>