
h1 {
    position: absolute;
    color: #fff;
    font-size: 2.5em;
    margin: 2%;
    top: 22%;
    font-style:oblique;
  }

img{
    width: 100%;
} 

.container_button{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    
    background-color:rgb(178, 228, 178);
    border-bottom: green;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(19, 6, 6);
    align-items: center;
    width: 100%;
    height: 80%;
    margin: 0.1%;
    
}

