
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: blanchedalmond;
    margin-top: 60px;
    width: 100%;

}
.container_image{
      width: auto;
      height:fit-content;
}

.top-right {
    position: absolute;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.container_botton{
    margin: 10px;
    border-radius: 10px;
}
